.customSearchInput {
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: 0 1rem;

  input {
    flex: 1;
    border: none;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 0.875rem;
  }

  button {
    background-color: transparent;
    color: #666;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #ff0099;
    }
  }
}
